/* Шрифти TTCommons */

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-Extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons";
  src: url("fonts/TTCommons-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

